<div id="wrap">
	<%= flashes %>
	<% if flashes == '' %>
		<h1 id="login-title"><%=welcome%></h1>
	<% end %>
		
	<% form_tag path do -%>
	    <%= hidden_field_tag 'return_to', @return_to %>
		<p id="email-section"><%= label_tag 'email' %>
		<%= text_field_tag 'email', @login %></p>
		
		<p id="pw-section"><%= label_tag 'password' %>
		<%= password_field_tag 'password', nil %></p>
		
		<% if show_remember_me %>
		<p id="remember-section">
			<%= check_box_tag 'remember_me', 1, @remember_me %>
			<%= label_tag 'remember_me', 'Remember me for two weeks' %>
		</p>
		<% end %>

		<p id="login-section"><%= submit_tag 'Log in' %></p>
	<% end -%>
	
	<% if show_account_links %>
	<ul id="account-links">
		<li><%=link_to 'Create an account', instance_signup_path(@instance) %></li>
		<li><%=link_to 'Forgot your password?', instance_forgotpassword_path(@instance) %></li>
	</ul>
	<% end %>
</div>
