<div id="wrap">
	<%= flashes %>
	<% if flashes == '' %>
		<h1 id="login-title">Please log in to the <%=@instance.short_name%> collabbit</h1>
	<% end %>
		
	<% form_tag instance_session_path do -%>
		<p><%= label_tag 'email' %><br />
		<%= text_field_tag 'email', @login %></p>
		
		<p><%= label_tag 'password' %><br/>
		<%= password_field_tag 'password', nil %></p>
		
		<p><%= check_box_tag 'remember_me', 1, @remember_me %>
		<%= label_tag 'remember_me', 'Remember me for two weeks' %></p>

		<p><%= submit_tag 'Log in' %></p>
	<% end -%>
	
	<ul id="account-links">
		<li><%=link_to 'Create an account', instance_signup_path(@instance) %></li>
		<li><%=link_to 'Forgot your password?', instance_forgotpassword_path(@instance) %></li>
	</ul>
</div>
