<% content_for :title, title('Create a new instance')%>

<% content_for :body do %>
<%= flashes %>

	<h1>Create an instance</h1>

	<%= error_messages_for :instance %>
	<% form_for @instance do |f| -%>
		<%= f.label :short_name %>
		<%= f.text_field :short_name %>
		
		<%= f.label :long_name %>
		<%= f.text_field :long_name %>

		<p><%= f.submit 'Create' %></p>
	<% end %>
<% end %>
