<%
# View which displays a single instance's information.  
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title(@instance.short_name)%>

<% content_for :subheader_title, 'Overview' %>
<% content_for :buttons do %>
    <% if @current_user.can? :update => @instance %>
	    <%= pretty_button :edit_instance, {:action => "edit"}, 'Edit Instance Settings' %>
	<% end %>
<% end %>
<% content_for :body do %>
	<% pending_users_count = @instance.users.search({:state_equals => :pending}).length %>
	<% if @current_user.can?(:update => @instance.users) && pending_users_count > 0 %>
		<div id="pending-users" class="notification">
			<h2>Pending Users</h2>
			<%=h "#{pending_users_count} pending user#{pending_users_count == 1 ? '' : 's'}" %>
		</div>
	<% end %>
	<% unless @instance.incidents.empty? %>
		<div id="incident-updates">
			<h2>Recent Incidents</h2>
			<% @current_user.last_logout.tap do |logout|%>
			<ul id="incidents"><% @incidents.select {|i| i.created_at > 2.months.ago}.sort_by {|i| -i.created_at.to_i}.each do |i| %>
				<li>
					<%= link_to i.name, i %> <span class="tiny">(<%=mdy i.created_at%>)</span>
					<% if !logout || i.created_at > logout %>
						<span class="new">new</span>
					<% end %>
					<% new_updates = i.updates.select {|u| u.created_at > @current_user.last_logout} %>
					<%= new_my_groups = new_updates.select { |u| (u.relevant_groups & @current_user.groups).length > 0 } %>

					<% if new_updates.length > 0 %>
						<div>
							<%= new_updates.length %> new update<%= new_updates.length == 1 ? '':'s' %>.
							(<%= new_my_groups.length %> in your groups.)
							<% if new_my_groups.length > 0 %>
								Most recent updates from your groups:
								<% show = new_my_groups.sort_by {|u| -u.created_at.to_i}[0,3] %>
							<% else %>
								Most recent updates:
								<% show = new_updates.sort_by {|u| -u.created_at.to_i}[0,3] %>
							<% end %>
							<ul><% show.sort_by{|u| u.created_at}[0,3].each do |u| %>
								<li>
									<%= link_to u.title, incident_update_url(i,u) %>
									<span class="tiny">(<%= time_ago_in_words u.created_at %> ago)</span>
								</li>
							<% end %></ul>
						</div>
					<% end %>
				</li>
			<% end %></ul>
			<% end %>
		</div>
	<% end %>
<% end %>
