<%
# View which displays a list of all the incidents under an instance,
# specified by @instance.  
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Incidents', @instance.short_name)%>

<% content_for :subheader_title, 'Incidents' %>
<% content_for :buttons do %>
    <% if can? :create => Incident %>
        <%=pretty_button :new_incident, new_incident_path, 'New Incident' -%>
	<% end %>
<% end %>

<% content_for :body do%>
	<% if @incidents.empty?%>		
		<h3 class="centered">There are no incidents yet.
			Want to <%= link_to 'create one', new_incident_path %>?
	<% else %>
		<ul id="incidents-list" class="listy">
		<% @incidents.each do |i| %>
			<li><%= link_to i.name, i, :class => :title %> 
				&ndash; <%=h i.description%>
				<span class="tiny">(<%=mdy i.created_at%>)</span>
			</li>
		<% end %>
		</ul>
	<% end %>
<% end %>
