<% content_for :title, title('Incidents')%>

<% content_for :subheader_title, 'Incidents' %>
<% content_for :buttons do %>
    <% if can? :create => Incident %>
        <%=pretty_button :new_incident, new_incident_path, 'New Incident' -%>
	<% end %>
<% end %>

<% content_for :body do%>
    <% if @incidents.empty?%>		
        <h3 class="centered">There are no incidents yet.
        Want to <%= link_to 'create one', new_incident_path %>?
    <% else %>
        <ul id="incidents-list">
        <% @incidents.each do |i| %>
            <% unless i.closed_at? %>
            <li><%= link_to i.name, i, :class => :title %> 
                <%=h i.description %>
                <span class="date">(<%=mdy i.created_at%>)</span>
            </li>
            <% else %>
            <li>
                <span class="changed">closed</span>
                <%= link_to i.name, i, :class => "title closed" %>
                <%=h i.description %>
                <span class="date">(<%=mdy i.created_at%> to <%=mdy i.closed_at%>)</span>
            </li>
            <% end %>
        <% end %>
        </ul>
    <% end %>
<% end %>
