<%
# View which displays a form for creating an incident.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Create an incident', 'Incidents', @instance.short_name)%>

<% content_for :breadcrumbs, 
	breadcrumbs(['Incidents',incidents_path]) %>
<% content_for :subheader_title, 'New Incident' %>

<% content_for :body do %>	
	<%= error_messages_for :incident %>
	<% form_for @incident do |f| -%>
		<p>
			<%= f.label :name %><br/>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :description, 'Quick Overview' %><br/>
			<%= f.text_area :description, :size => '40x5' %>
		</p>
		<p>
			<%= f.submit 'Create' %>
		</p>
	<% end %>
<% end %>
