<%
# View which displays a form for editing a group.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Edit group', @group.name, 'Groups', @instance.short_name)%>

<% content_for :body do %>
	<h1>Edit group: <%=@group.name%></h1>
	<%= error_messages_for :group %>
	<% form_for [@instance, @group.group_type, @group] do |f| -%>
		<p><%= label_tag 'name' %><br/>
		<%= f.text_field :name %></p>
				
		<p><%= submit_tag 'Save' %></p>
	<% end -%>
<% end %>