<%
# View which displays a single group's information.  
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title(@group.name, 'Groups', @instance.short_name)%>

<% content_for :body do %>
    <% if can? :update => @group %>
		<%= pretty_button(:edit_group, edit_group_type_group_path(@group.group_type, @group), 'Edit Group') %>
	<% end %>
	
	<% if can? :destroy => @group %>
		<%= pretty_delete_button(@group, :check => true)%>
	<% end%>
	
	<% if @group.users.include? @current_user %>
	    <%= pretty_button :join_group, memberships_path(:group_id => @group.id, :user_id => @current_user.id, :leave => 'true'), 'Leave Group', :method => :post %>
	<% else %>
		<%= pretty_button :join_group, memberships_path(:group_id => @group.id, :user_id => @current_user.id), 'Join Group', :method => :post %>	
	<% end %>
		
	<%= flashes %>
	<div id="wrap">
    <h1><span class="tiny"><%= link_to 'Groups',group_types_url %> &raquo; <%= link_to @group.group_type.name.pluralize, group_type_url(@group.group_type) %> &raquo;</span> <%= @group.name %> </h1>
		<% unless @group.users.empty? %>
			<h2>Members</h2>
			<ul>
				<% @group.users.each do |u| %>
					<li><%= link_to u.full_name, u %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
<% end %>
