<% content_for :title, title(@group.name, 'Groups')%>

<% content_for :breadcrumbs,
	breadcrumbs(['Groups',group_types_url],
				[@group.group_type.name.pluralize,group_type_url(@group.group_type)]) %>
<% content_for :subheader_title, @group.name %>
<% content_for :buttons do %>
    <% if can? :update => @group %>
		<%= pretty_button(:edit_group, edit_group_type_group_path(@group.group_type, @group), 'Edit Group') %>
	<% end %>
	
	<% if can? :destroy => @group %>
		<%= pretty_delete_button(@group, :check => true)%>
	<% end%>
	
	<% if @group.users.include? @current_user %>
	    <%= pretty_button :join_group, memberships_path(:group_id => @group.id, :user_id => @current_user.id, :leave => 'true'), 'Leave Group', :method => :post %>
	<% else %>
		<%= pretty_button :join_group, memberships_path(:group_id => @group.id, :user_id => @current_user.id), 'Join Group', :method => :post %>	
	<% end %>
<% end %>

<% content_for :body do %>
	<% unless @group.users.empty? %>
		<h2>Members</h2>
		<ul>
			<% @group.users.each do |u| %>
				<li><%= link_to u.full_name, u %></li>
			<% end %>
		</ul>
	<% else %>
		<p>This group is empty.</p>
	<% end %>
<% end %>
