<%= error_messages_for :user %>
<% form_for(@user,:html => {:class => 'user-form'})  do |f| -%>
	<dl>
		<dt class="firstname"><%= f.label 'first_name', 'First Name' %></dt>
		<dd class="firstname"><%= f.text_field :first_name %></dd>

		<dt class="lastname"><%= f.label 'last_name', 'Last Name' %></dt>
		<dd class="lastname"><%= f.text_field :last_name %></dd>

		<dt class="email"><%= f.label 'email' %></dt>
		<dd class="email"><%= f.text_field :email %></dd>

		<dt><%= f.label 'desk_phone' %></dt>
		<dd><%= f.text_field :desk_phone %> <%= f.label 'desk_phone_ext', 'ext' %> <%= f.text_field :desk_phone_ext, :size => 4 %></dd>

		<dt><%= f.label 'cell_phone' %></dt>
		<dd><%= f.text_field :cell_phone %></dd>

		<dt>Preferred:</dt>
		<dd>
			<%= f.radio_button(:preferred_is_cell, true) + f.label('preferred_is_cell_true', "Cell Phone") %>
			<%= f.radio_button(:preferred_is_cell, false) + f.label('preferred_is_cell_false', "Desk phone") %>
		</dd>

		<dt><%= f.label 'carrier' %></dt>
		<dd><%= f.select :carrier_id, Carrier.all.map {|c| [c.name, c.id]}, :include_blank => 'Not Listed' %></dd>
	</dl>

	<div><%= submit_tag 'Sign up' %></div>
<% end %>
