<% new_user_form ||= false %>
<%= error_messages_for :user %>
<% form_for(@user,:html => {:class => 'user-form'})  do |f| -%>
	<% if new_user_form %>
		<fieldset id="required-fields">
			<legend>Required Fields</legend>
	<% else %>
		<div>
	<% end %>
		<dl>
			<dt class="firstname"><%= f.label 'first_name', 'First Name' %></dt>
			<dd class="firstname"><%= f.text_field :first_name %></dd>

			<dt class="lastname"><%= f.label 'last_name', 'Last Name' %></dt>
			<dd class="lastname"><%= f.text_field :last_name %></dd>

			<dt class="email"><%= f.label 'email' %></dt>
			<dd class="email"><%= f.text_field :email %></dd>
		</dl>
	<% if new_user_form %>
		</fieldset>
		<fieldset id="optional-fields">
			<legend>Optional Fields <em>(you can fill these in later)</em></legend>
	<% else %>
		</div>
		<div>
	<% end %>
			<dl>
				<dt><%= f.label 'desk_phone', 'Desk Phone' %></dt>
				<dd>
					<%= f.text_field :desk_phone, :class => 'phone' %>
					<%= f.label 'desk_phone_ext', 'ext' %>
					<%= f.text_field :desk_phone_ext, :class => 'extension' %>
				</dd>

				<dt class="cell"><%= f.label 'cell_phone', 'Cell Phone' %></dt>
				<dd class="cell"><%= f.text_field :cell_phone, :class => 'phone' %></dd>

				<dt><%= f.label 'carrier', 'Cell Carrier <em>We need this for you to receive text message alerts.</em>' %></dt>
				<dd><%= f.select :carrier_id, Carrier.all.map {|c| [c.name, c.id]}, :include_blank => 'Not Listed' %></dd>

				<dt class="cell-pref">Preferred:</dt>
				<dd class="cell-pref">
					<%= f.radio_button(:preferred_is_cell, false) +
						f.label('preferred_is_cell_false', "Desk phone") %>
					<%= f.radio_button(:preferred_is_cell, true) +
						f.label('preferred_is_cell_true', "Cell Phone") %>
				</dd>
				
				<dt>Alerts <%= " <em>These override specific incident settings</em>" unless new_user_form %></dt>
				<dd>
					<div id="alerts-overall">
						<%= f.check_box :email_alert %>
						<%= f.label :email_alert, 'Receive Email Alerts' %>
						<%= f.check_box :text_alert %>
						<%= f.label :text_alert, 'Receive Text Message Alerts' %>
					</div>
					<% unless new_user_form %>
						<a id="alerts-toggle" href="#">Specific Incident Settings<span class="arrow">&#9660;</span></a>
						<table id="alerts-individual" class="hidden" cellspacing="0" cellpadding="0">
							<thead>
								<th>Incident</th>
								<th>Email</th>
								<th>Text</th>
							</thead>
							<tbody>
							<% @user.instance.incidents.each do |i| %>
								<% f.fields_for :feeds, @user.feeds.find_by_incident_id(i.id) do |feed_form| %>
								<tr class="feed-settings">
									<td class="incident-title"><%=i.name%></td>
									<td class="feed-email-setting">
										<% if @user.email_alerts? %>
											<%= feed_form.check_box :email_alert %>
										<% else %>
											<%= feed_form.check_box :email_alert, {:disabled => 'disabled'} %>
										<% end %>
									</td>
									<td class="feed-text-setting">
										<% if @user.text_alerts? %>
											<%= feed_form.check_box :text_alert %>
										<% else %>
											<%= feed_form.check_box :text_alert, {:disabled => 'disabled'} %>
										<% end %>
									</td>
								</tr>
								<% end %>
							<% end %>
							</tbody>
						</table>	
					<% end %>
				</dd>
			</dl>
	<% if new_user_form %>
		</fieldset>
		<p class="form-instructions">We'll send you an email with instructions on what to do next.</p>
		<div id="submit-create"><div><%= submit_tag 'Create Account' %></div></div>
	<% else %>
		</div>
		<div id="submit-update"><%= submit_tag 'Save' %></div>
	<% end %>
<% end %>
