<%
# View which displays a form for editing a user's data.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title ('Edit user', @user.full_name, 'Contacts', @instance.short_name)%>


<% if @current_user == @user # account page %>
	<% content_for :subheader_title, "Account Settings" %>
<% else # edit user page (for admins) %>
	<% content_for :breadcrumbs,
		breadcrumbs(['Contacts',users_url],
					[@user.full_name,user_url(@user)]) %>
	<% content_for :subheader_title, "Edit user" %>
<% end %>

<% content_for :body do%>
    <% form_for @user do |f| %>
    <%= error_messages_for :user %>

    <h2>Notifications</h2>
    <table id="notifications" cellspacing="0" cellpadding="0">
        <thead>
            <th>Incident</th>
            <th>Email</th>
            <th>Text</th>
        </thead>
        <tbody>
        <% @user.instance.incidents.each do |i| %>
            <% f.fields_for :feeds, @user.feeds.find_by_incident_id(i.id) do |feed_form| %>
            <tr class="feed-settings">
                <td class="incident-title"><%=i.name%></td>
                <td class="feed-email-setting"><%= feed_form.check_box :email_alert %></td>
                <td class="feed-text-setting"><%=feed_form.check_box :text_alert %></td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>

    <h2>Account Details</h2>
	<% @user.password = @user.password_confirmation = '' %>
		<p><%= f.label 'email' %><br/>
		<%= f.text_field :email, :title => 'Username' %></p>
		
		<p><%= f.label :desk_phone %><br/>
		<%= f.text_field :desk_phone %></p>
		
		<p><%= f.label :desk_phone_ext, 'Extension' %><br/>
		<%= f.text_field :desk_phone_ext %></p>
		
		<p><%= f.label 'cell_phone' %><br/>
		<%= f.text_field :cell_phone %></p>
		
		<p><%= f.label 'carrier' %>
		<%= f.select :carrier_id, Carrier.all.map {|c| [c.name, c.id]}, :include_blank => 'Not Listed', :selected => (@user.carrier && @user.carrier.id) %></p>
		
		<p>Preferred phone:
		<%= f.radio_button(:preferred_is_cell, true) + f.label(:preferred_is_cell_true, 'Cell') %>
		<%= f.radio_button(:preferred_is_cell, false) + f.label(:preferred_is_cell_false, 'Desk') %>
        </p>

		<p><%= f.label 'password' %><br/>
		<%= f.password_field :password, :autocomplete => 'off' %></p>

		<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
		<%= f.password_field :password_confirmation, :autocomplete => 'off' %></p>
		<p><%= submit_tag 'Save' %></p>
	<% end -%>
<% end %>
