<% content_for :title, title('Bulk Import Accounts') %>

<% content_for :subheader_title, 'Bulk Import Accounts' %>

<% content_for :body do %>	
	<% form_tag create_bulk_users_path, :multipart => true do %>
	    <h2>Enter up to 5 users at a time</h2>
	    <p>After you create these users, they will receive emails with instructions on how to log in.</p>
	    <% @users.each do |u|%>
	        <div class="bulk_user">
				<% fields_for 'users[]', u do |user_fields| %>
					<% @user = u %>
					<%= error_messages_for :user %>
					<div class="bulk_firstname">
						<%= user_fields.label :first_name %>
						<%= user_fields.text_field :first_name %>
					</div>
					<div class="bulk_lastname">
						<%= user_fields.label :last_name %>
						<%= user_fields.text_field :last_name %>
					</div>
					<div class="bulk_email">
						<%= user_fields.label :email %>
						<%= user_fields.text_field :email %>
					</div>
				<% end%>
	        </div>
	    <% end %>
	    
	    <h2>Or upload a CSV file</h2>
		<p>Each row of the CSV file should be <code>First name, last name, email</code>. For example, a row might be <code>John, Smith, john.smith@collabbit.org</code>.</p>
		<p>
			<%= label_tag :csv_file, 'CSV File' %>
			<%= file_field_tag :csv_file%>
		</p>
		<p><%= submit_tag 'Import Users' %></p>
	<% end %>
<% end %>
