<ul id="menu">
	<% if @current_user %>
		<% if can?(:view => @instance) %>
			<%= menu_item('Overview', @instance, controller_name == 'instances') -%>
			
			<%= menu_item('Incidents', instance_incidents_path(@instance),	['incidents', 'updates'].include?(controller_name)) if can?(:list => @instance.incidents) -%>
			
			<%= menu_item('Groups', instance_group_types_path(@instance),controller_name == 'group_types') if can?(:list => @instance.group_types, :list => @instance.groups)-%>
			
			<%= menu_item('Roles', instance_roles_path(@instance), controller_name == 'roles') if false && can?(:list => @instance.roles) -%>
			
			<%= menu_item('Tags', instance_tags_path(@instance), controller_name == 'tags') if false && can?(:list => @instance.tags) -%>
			
			<%= menu_item('Contacts', instance_users_path(@instance), controller_name == 'users') if can?(:list => @instance.users) -%>
			
		<% end %>
		<li id="account-status">
		    <span>
		        Hello, <%=link_to @current_user.first_name, edit_instance_user_path(@instance, @current_user)-%> 
				(<%=link_to('Log Out', instance_logout_path(@instance)) -%>)
			</span>
		</li>
	<% else%>
		<%= menu_item('Log In', instance_login_path(@instance), controller_name == 'sessions') %>
		<%= menu_item('Sign Up', instance_signup_path(@instance), controller_name == 'users') %>
	<% end %>
</ul>
