<ul id="menu">
	<% if User.current %>
		<% if @instance.viewable?%>
			<%= menu_item('Overview', 	@instance, controller_name == 'instances') -%>
			<%= menu_item('Incidents', 	instance_incidents_path(@instance),	['incidents', 'updates'].include?(controller_name)) if Incident.listable? -%>
			<%= menu_item('Group Types',instance_group_types_path(@instance),controller_name == 'group_types') if GroupType.listable? -%>
			<%= menu_item('Roles', 		instance_roles_path(@instance),	controller_name == 'roles') if Role.listable?-%>
			<%= menu_item('Tags', 		instance_tags_path(@instance),	controller_name == 'tags') if Tag.listable?-%>
			<%= menu_item('Contacts', 	instance_users_path(@instance),	controller_name == 'users') if User.listable? -%>
		<% end %>
		<li id="account-status"><span>
			Hello, <%=link_to User.current.first_name, edit_instance_user_path(@instance, User.current)-%> 
				(<%=link_to('Log Out', instance_logout_path(@instance)) -%>)</span>
		</li>
	<% else%>
		<%= menu_item('Log In', instance_login_path(@instance), controller_name == 'sessions') %>
		<%= menu_item('Register', instance_signup_path(@instance), controller_name == 'users') %>
	<% end %>
</ul>
