<% content_for(:subheader_title, 'Collabbit') %>
<% content_for(:subheader_text, 'Stay informed together') %>

<p id="what-is-collabbit">Collabbit is web software that helps people from different organizations share information during emergencies. It's secure, sustainable, and easy to use.</p>

<div id="about-updates">
    <h2>Updates</h2>
    <p>Share news and information with Updates. An Update might be a sentence, document, or series of pictures. Collabbit will send the updates you need to your phone, email, or RSS feed.</p>
</div>

<div id="about-contacts">
    <h2>Contacts</h2>
    <p>Have a question and not sure who can answer it? Collabbit organizes contacts, so you can launch an email to the right person in one click to get quick answers to your pressing questions.</p>
</div>

<div id="collabbit-is-different">
    <h2>Collabbit is different. Here's how:</h2>
    <ul>
        <li><h3>Built with you, for you</h3>
            End users are involved in every stage of the Collabbit development process.
        </li>
        <li><h3>Focused</h3>
            Collabbit is focused. We do a few things really well (instead of everything poorly).
        </li>
        <li><h3>Free and Open</h3>
            Download, review, use, and change Collabbit for free. While we offer a hosted version, if you want to install Collabbit behind a firewall, you can do so free of charge.
        </li>
        <li><h3>Volunteer driven</h3>
            Collabbit was started by the <%= link_to 'HFOSS Project', 'http://hfoss.org' %> and NYC disaster human services experts. We want your help and ideas. <%= mail_to 'support@collabbit.org', 'Email us' %> and we'll get you involved right away.
        </li>
    </ul>
</div>

<ul id="portals">
    <li><%= link_to 'Sign up for a free trial', '/trial_signup' %></li>
    <li><%= link_to 'Get involved with the community', '#' %></li>
    <li><%= link_to 'Find help and support', 'http://support.collabbit.org' %></li>
</ul>
