<% content_for :title, title('Updates', @incident.name, 'Incidents') %>
<% content_for :javascripts, javascript_include_tag('jquery', 'jquery.multifile', 'updates', 'prototype')%>

<% content_for :breadcrumbs, 
	breadcrumbs(['Incidents',incidents_path]) %>
<% content_for :subheader_title do %>
	<%=link_to @incident.name, @incident %>
	<span class="title-small">
	<% if !@search && !@groups_filter && !@tags_filter %>
		showing <%= @updates.size == 1 ? '':'all' %> <%= pluralize(@updates.size, "update") %>
	<% else %>
		showing <%= pluralize(@updates.size, "filtered update") %>
	<% end %>
	</span>
<% end %>
<% content_for :buttons do %>
	<% if can? :create => Update %>
		<%= pretty_button(:add_update, new_incident_update_path(@incident), '+ Add Update')%>
	<% end %>
	<% if can?(:destroy => @incident) || can?(:update => @incident) %>
		<div id="admin_buttons" class="button-link">
			Manage
			<%= incident_admin_buttons(@incident) %>
		</div>
	<% end %>
<% end %>
<% content_for :subheader_text, subheader_text(@incident.description) if @incident.description %>
<% content_for :filters do %>
	<%	groups = Set.new
		tags = Set.new
		@incident.updates.each do |u|
			groups.merge u.relevant_groups
			groups.add u.issuing_group unless u.issuing_type == :user || !u.issuing_group
			tags.merge u.tags
		end	
		tags = (tags.map {|t| [t.name, t.id]}).sort {|a,b| a[0]<=>b[0]}
	%>
		
	<% form_tag incident_updates_path(@incident), :method => :get do %>
		<%= text_field_tag :search, (params[:search] || 'Search Keywords'), :size => 20, :class=>(!params[:search] || params[:search] == '' ? 'blank':'') %>
					
		<select name="groups_filter" id="filters_groups">
			<option value="" <%= 'selected="selected"' if @groups_filter == "" %>>All Groups</option>
			<option value="mine" <%= 'selected="selected"' if @groups_filter == "mine" %> <%= 'style="display: none"' if @current_user.groups.size == 0 %>>My Groups</option>
			<%= group_select_options(groups,@groups_filter) %>
		</select>
		<select name="tags_filter" id="filters_tags">
			<%= options_for_select([['All Tags', nil]] + tags, @tags_filter) %>
		</select>    				
		<%= submit_tag "Apply Filters", :name => nil, :id => "filters_submit" %>
	<% end %>

	<div id="alerts-checkboxes">
		<% @current_user.feeds.find_by_incident_id(@incident.id).tap do |feed| %>
	    	<% unless feed.blank? %>		
        		You are receiving
				<% if feed.email_alert? && @current_user.email_alert? &&
					  feed.text_alert?  && @current_user.text_alert? %>
        			<strong>text</strong> and <strong>email</strong>
        		<% elsif feed.email_alert? && @current_user.email_alert? %>
        			<strong>email</strong>
        		<% elsif feed.text_alert?  && @current_user.text_alert? %>
        			<strong>text</strong>
        		<% else %>
        			no
        		<% end %>
        		alerts for this incident.
        		<a id="alert-settings" href="#">Alert Settings<span class="arrow">&#9660;</span></a>
				&middot; <%= link_to 'Incident Export', formatted_incident_path(@incident, :text) %>
        		<% form_for(@current_user, :html => {:id => 'alerts-form', :class => 'hidden'}) do |f| %>
        			<%= hidden_field_tag 'return_to', :back %>
        			<% f.fields_for :feeds, @current_user.feeds.find_by_incident_id(@incident.id) do |feed_form| %>
						Receive text message alerts?
						<% if @current_user.text_alert? %>
							<%= feed_form.check_box :text_alert %>
						<% else %>
							<%= feed_form.check_box :text_alert, {:disabled => 'disabled'} %>
						<% end %>
						Email alerts?
						<% if @current_user.email_alert? %>
							<%= feed_form.check_box :email_alert %>
						<% else %>
							<%= feed_form.check_box :email_alert, {:disabled => 'disabled'} %>
						<% end %>
        				<div><%= submit_tag 'Update' %></div>
        			<% end %>
        		<% end %>

    		<% end %>
		<% end %>
	</div>
    
<% end %>


<% content_for :body do %>
	<% if @incident.closed_at? %>
	<h2 id="incident-closed">
		Incident Closed
	</h2>
	<% end %>
	
	<% url = incident_update_poll_for_newer_url(@incident, @latest_update_id, :user_id => @current_user.id)%>
	<%= periodically_call_remote :url => url, :frequency => '10' %>
	<div id="new-updates-outer">
		<div id="new-updates-inner">
		</div>
	</div>
		
	<% if @updates.blank? %>
	    <h3 class="centered">
	    <% if @searched %>
	        <%= t('warning.update.no_search_results') %>
	    <% else %>
	        <% url = link_to('Add one here', new_incident_update_path(@incident)) + "." if can?(:create => Update) %>
	        <%= t('warning.update.no_updates', :url => url) %>
	    <% end %>
	    </h3>
	<% else %>
	<ul id="updates-list">
	<% @updates.each do |u| %>
		<li>
			<div class="update-meta">
				<div class="update-author"><%= issuer_link(u)%></div>
				<div class="update-time">posted <%=time_mdy_smart u.created_at %></div>
				<div class="update-edited"><%= u.updated_at > u.created_at ? "edited #{time_mdy_smart u.updated_at}" : '' %></div>
			</div>
			<div class="update-extra">
				<% unless u.relevant_groups.empty? %>
					<div class="relevant-groups">
						<h5>Groups:</h5>
						<ul>
						<% j = 0 %>
						<% i = u.relevant_groups.find(:all).count %>
						<% u.relevant_groups.find(:all, :order => 'name').each do |g| %>
							<% j= j + 1 %>
							<li><%=link_to g.name, group_type_group_path(g.group_type, g) %></li>		
						<% end %>	
						</ul>
						<div class="clear"></div>
					</div>
				<% end 
				   unless u.tags.empty? %>
					<div class="tags">
						<h5>Tags:</h5>
						<ul>
						<% j = 0 %>
						<% i = u.tags.find(:all).count %>
						<% u.tags.find(:all, :order => 'name').each do |t| %>
							<% j= j + 1 %>
							<li><%= tag_link_helper t, u.incident %></li>	
						<% end %>
						</ul>
						<div class="clear"></div>
					</div>
				<% end %>
				<div class="clear"></div>
			</div>

			<div class="update-main">
				<%= link_to u.title, incident_update_path(@incident, u), :class => 'update-title' %>
				<div class="update-text">
				<%  if u.text.length > 256 %>
					<%= abbreviated_text(u) %>
					<%=link_to('&raquo;more', incident_update_path(@incident, u),:class => 'update-more') %>
				<%  else %>
					<%=simple_link_format u.text %>
				<% end %>
				</div>
				<% unless u.attached_files.empty? %>
					<div class="update-attach">
						<h5>Files:</h5>
						<ul>
						<% u.attached_files.each do |f| %>
							<li><%=link_to f.attach.original_filename, f.attach.url%></li>
						<% end %>
						</ul>
					</div>				
				<% end %>
				<div class="comments">
				    <% u.comments.count.tap do |size| %>
				        <% if size > 5 %>
				            <div class="comment show-older">
				                <%= link_to "Show #{pluralize((size-5), 'older comment')}", [@incident, u] %>
				            </div>
				        <% end %>
				    <% end %>
					<% u.comments.last(5).each do |c| %>
					<div class="comment">
						<span class="comment-author"><%=link_to c.user.full_name, c.user %></span>
						<span class="comment-body"><%=simple_link_format c.body%></span>
						<% if (c.user.id == @current_user.id) || (can? :destroy => c) %>
						    <span class="comment-destroy"><%=link_to '[x]', [@incident, u, c], :method => :delete, :confirm => 'Really delete?' %></span>
						<% end %>
						<span class="comment-date">posted <%=time_ago_in_words c.created_at%> ago</span>
					</div>
					<% end %>
					<% form_for [u.incident, u, Comment.new], :html => {:id => "#{u.id}-new-comment", :class => "new-comment"} do |f| %>
						<%= f.text_field :body, :class => "comment-textfield blank" %>
						<div class="comment-submit-wrapper">
						    <%= f.submit 'Add Comment', :class => "comment-submit hide" %>
						</div>
						<div class="clear"></div>
					<% end %>
				</div>
			</div>
		</li>
	<% end %>
	</ul>
	<% end %>
	<%= will_paginate @updates %>
<% end %>
