<%
# View which displays a form for creating an update.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title ('Create an update', @incident.name, 'Incidents', @instance.short_name)%>

<% content_for :javascripts, javascript_include_tag('jquery', 'jquery.multifile', 'updates') -%>

<% content_for :body do %>
	<%= flashes %>
	<div id="wrap">
		<h1>Create an update:</h1>
	
		<%= error_messages_for :update %>
		<% form_for [@instance, @incident, @update], :html => {:multipart => true} do |f| -%>
			<p>
				<%= f.label :title %><br/>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :text %><br/>
				<%= f.text_area :text, :size => '80x14' %>
			</p>
			<p>
				<%= f.label :issuer %><br/>
					<%= f.radio_button(:issuer , 'myself') + f.label(:issuer_myself, 'Myself')%>
				<% User.current.groups.each do |g| %>
					<%= f.radio_button(:issuer, g.id) + f.label("issuer_#{g.id}".to_sym, g.name) %>
				<% end %>
			</p>
			<p>
				<%= f.label :relevant_groups %><br/>
				<% @groups.each do |g| %>
					<%= check_box_tag("relevant_groups[#{g.id}]") + label_tag("relevant_groups[#{g.id}]", g.name) %>
				<% end %>
			</p>
			<p>
				<%= f.label :tags %><br/>
				<% @tags.each do |t| %>
					<%= check_box_tag("tags[#{t.id}]") + label_tag("tags[#{t.id}]", t.name) %>
				<% end %>
			</p>
			<p>
				<%= f.label :additional_tags, "Additional Tags (comma-separated like: apple, pie, bread pudding)" %><br/>
				<%= f.text_field :additional_tags %>
			</p>
			<p>
				<%= f.label :attach_files%><br/>
				<%= file_field_tag 'attachments[]', :id => 'multi' %>
			</p>
			<p><%= f.submit 'Create' %></p>
		<% end %>
	</div>
<% end %>