<% content_for :title, title(@update.title, 'Update', @incident.name, 'Incidents') %>

<% content_for :breadcrumbs, 
	breadcrumbs(['Incidents',incidents_path],
				[@incident.name,incident_path(@incident)]) %>
<% content_for :subheader_title, @update.title %>
<% content_for :buttons do %>
	<%= pretty_button(:delete_update, incident_update_path(@incident, @update), 'Delete Update', :method => :delete, :confirm => "Really delete update?") if can?(:destroy => @update)%>
	<%= pretty_button(:edit_update, edit_incident_update_path(@incident, @update), 'Edit Update') if can?(:update => @update) %>
<% end %>
<% content_for :subheader_text,
	subheader_text('by '+link_to_issuer(@update)+' on '+time_mdy(@update.created_at)) %>

<% content_for :body do %>
  <div id="update">
    <h3>Text:</h3>
	<%=simple_link_format @update.text %>
    <div class="comments">
      <h3>Comments:</h3>
      <% @update.comments.each do |c| %>
		<div class="comment">
			<span class="comment-author"><%=link_to c.user.full_name, c.user %></span>
			<span class="comment-body"><%=simple_link_format c.body%></span>
			<% if (@current_user.id == c.user.id) || (can? :destroy => c) %>
			    <span class="comment-destroy">
			        [<%=link_to 'X', [@incident, @update, c], :method => :delete, :confirm => 'Really delete?' %>]
			    </span>
			<% end %>
			<span class="comment-date">posted <%=time_ago_in_words c.created_at%> ago</span>
		</div>
      <% end %>
      
        <% form_for [@update.incident, @update, Comment.new], :id => "#{@update.id}-new-comment" do |f| %>
            <%= f.text_field :body, :class => "comment-textfield" %>
            <div class="comment-submit-wrapper">
                <%= f.submit 'Add Comment', :class => "comment-submit" %>
            </div>
            <div class="clear"></div>
        <% end %>
    </div>
  </div>
  <div id="extra">
  <!-- Files-->
    <% unless @update.file_urls.empty? %>
      <div id="files">
        <% unless @update.attached_images.empty? %>
          <h3>Images:</h3>
          <ul>
            <% @update.attached_images.each do |f| %>
              <% w, h = FastImage.size(f.attach.path) %>
              <li><%=link_to(image_tag(f.attach.url, :size => scale_dimensions(w, h, 150).join('x')), f.attach.url)%></li>
            <% end %>
          </ul>
        <% end %>
        <% unless @update.attached_nonimages.empty? %>
          <h3>Files:</h3>
          <ul>
            <% @update.attached_nonimages.each do |f| %>
              <li><%=link_to(f.attach.original_filename, f.attach.url)%></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>

    <!-- Groups -->
    <% unless @update.relevant_groups.empty? %>
      <div id="relevant-groups">
        <h3>Groups:</h3>
        <ul>
        <% @update.relevant_groups.find(:all, :order => 'name').each do |g| %>
          <li class="tag"><%=easy_link_to(g.name, g)%></li>
        <% end %>
        </ul>
      </div>
    <% end %>
        
    <!-- Tags -->
    <% unless @update.tags.empty? %>
      <div id="tags">
        <h3>Tags:</h3>
        <ul>
        <% @update.tags.find(:all, :order => 'name').each do |t| %>
          <li class="tag"><%=easy_link_to(t.name, t)%></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>
