<%
#<<FIX: why do I exist?
%>

<% content_for :title, title('Edit role', @role.name, 'Roles') %>

<% content_for :body do%>
<%= flashes %>

	<h1>Edit role:</h1>
	<%= error_messages_for :role %>
	<% form_for @role do |f| -%>
		<p><%= label_tag 'name' %><br/>
		<%= f.text_field :name %></p>
		
		<p><%= submit_tag 'Save' %></p>
	<% end -%>
<% end %>
