<%
#<<FIX: why do I exist?
%>

<% content_for :title, title('Create a role', 'Roles') %>

<% content_for :body do %>
<%= flashes %>

	<h1>Create a role</h1>

	<%= error_messages_for :role %>
	<% form_for @role do |f| -%>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<p><%= f.submit 'Create' %></p>
	<% end %>
<% end %>
