<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title><%= yield :title or title %></title>
		<%= stylesheet_link_tag 'sitewide' %>
		<!--[if IE 7]>
		<%= stylesheet_link_tag 'sitewide_ie7' %>
		<![endif]-->
		<%= stylesheet_link_tag controller_name %>
		<%= yield :styles %>

		<%= javascript_include_tag('jquery','application')%>
		<%= yield :javascripts %>
	</head>
    <body>
        <div id="content-wrap">
            <%= render :partial => 'shared/header' -%>
            <div id="content">
                <div class="pagewidth">
					<div id="wrap">
						<%= yield :flashes or flashes %>
						<%= yield :body or yield %>
					</div>
				</div>
            </div>
        </div>
		<div id="footer">
			&copy; 2010 HFOSS &middot; <%= link_to 'Terms of Use', home_path(:page => 'terms', :return_to => @return_to) %> &middot; <%= link_to 'Privacy Policy', home_path(:page => 'privacy', :return_to => @return_to) %> &middot; <%= link_to 'Support', '#', :id => 'bottom-support' %>
		</div>
		<script type="text/javascript" charset="utf-8">
          Tender = {
            hideToggle: true,
            widgetToggles: [document.getElementById('bottom-support'), document.getElementById('top-support')]
          }
        </script>
        <script type="text/javascript">
        var baseSslHost = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + baseSslHost + "collabbit.tenderapp.com/tender_widget.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
		<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11125983-1");
pageTracker._trackPageview();
} catch(err) {}</script>
	</body>
</html>
