<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title><%= yield :title or title %></title>
		<%= stylesheet_link_tag 'sitewide' %>
		<!--[if IE 7]>
		<%= stylesheet_link_tag 'sitewide_ie7' %>
		<![endif]-->
		<!--[if IE 6]>
		<%= stylesheet_link_tag 'sitewide_ie6' %>
		<![endif]-->
		<%= stylesheet_link_tag controller_name %>
		<%= yield :styles %>
		<%= yield :javascripts %>
	</head>
	<body>
	    <div id="beta-banner">Collabbit is beta software. <%=link_to 'Please report problems and get help here', '#', :id => 'top-support' %>. See our <%=link_to 'upcoming features', 'http://support.collabbit.org/faqs/general/upcoming-features' -%>.</div>
		<div id="header">
			<div id="header-wrapper">
				<div id="branding">
					<%= yield :branding or render :partial => 'shared/branding' -%>
				</div>
				<% # If there's content_for :menu, do that. Then, if there's _menu.html.erb, do that. Finally, do the shared menu. %>
				<%= yield :menu or render :partial => 'menu' rescue nil or render :partial => 'shared/menu' %>
			</div>
			<div id="submenu"><%= yield :submenu or render :partial => 'submenu' rescue nil %></div>
		</div>
		<div id="content">
			<%= yield :body or yield %>
		</div>
		<div id="footer">
			&copy; 2009 HFOSS &middot; <%= link_to 'Terms of Use', '/terms' %> &middot; <%= link_to 'Privacy', '/privacy' %> &middot; <%= link_to 'Support', '#', :id => 'bottom-support' %>
		</div>
		<script type="text/javascript" charset="utf-8">
          Tender = {
            hideToggle: true,
            widgetToggles: [document.getElementById('bottom-support'), document.getElementById('top-support')]
          }
        </script>
        <script type="text/javascript">
        var baseSslHost = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + baseSslHost + "collabbit.tenderapp.com/tender_widget.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
		<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11125983-1");
pageTracker._trackPageview();
} catch(err) {}</script>
	</body>
</html>
